<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="info">
    <h4>Login to Account</h4>
    <p>Please enter your email and password to continue</p>
  </div>

  <app-input
    [label]="'Email'"
    [icon]="'assets/auth/envelope.svg'"
    [type]="'email'"
    [placeholder]="'Enter your email'"
    [control]="emailControl"
    [errorMessages]="{
      required: 'Email is required',
      email: 'Please enter a valid email'
    }"
  ></app-input>

  <app-input
    [label]="'Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="passwordControl"
    [errorMessages]="{
      required: 'Password is required',
      minlength: 'Password must be at least 6 characters'
    }"
  ></app-input>

  <a class="forget-pass" routerLink="/auth/forget-password">Forget Password?</a>

  <app-button
    label="Sign in"
    [loading]="loading"
    loadingText="Sending..."
  ></app-button>

  <p class="create-account">
    Don't have an account? <a routerLink="/auth/signup">Create an account</a>
  </p>
</form>
