<form [formGroup]="forgetPass" (ngSubmit)="forget()">
  <div class="info">
    <h4>Forget Password</h4>
    <p>Please enter your email to continue</p>
  </div>

  <app-input
    [label]="'Email'"
    [icon]="'assets/auth/envelope.svg'"
    [type]="'email'"
    [placeholder]="'Enter your email'"
    [control]="emailControl"
    [errorMessages]="{
      required: 'Email is required',
      email: 'Please enter a valid email'
    }"
  ></app-input>
  <div class="mt-4">
    <app-button label="Next"></app-button>
  </div>
</form>
