.info {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.info h4 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
}

.info p {
  font-size: var(--font-size-sm);
  color: var(--gray-300);
}
