<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="info">
    <h4>Change Password</h4>
  </div>

  <app-input
    [label]="'Old Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="oldPasswordControl"
    [errorMessages]="{ required: 'Old password is required' }"
  ></app-input>

  <app-input
    [label]="'New Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="newPasswordControl"
    [errorMessages]="{
      required: 'New password is required',
      minlength: 'Password must be at least 6 characters'
    }"
  ></app-input>

  <app-input
    [label]="'Confirm New Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="confirmPasswordControl"
    [errorMessages]="{
      required: 'Please confirm your password'
    }"
    [customError]="passwordsMismatch ? 'Passwords do not match' : ''"
  ></app-input>

  <div class="mt-4">
    <app-button label="Next"></app-button>
  </div>
</form>
