.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("/assets/auth/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.auth-box {
  background-color: var(--color-white);
  padding: 3rem;
  margin: 0.5rem;
  border-radius: var(--border-radius-3xl);
  box-shadow: var(--shadow-subtle);
  width: 100%;
  max-width: 600px;
}

.logo-container {
  text-align: center;
  width: 70%;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
}

.signup-page .auth-box {
  padding: 0 3rem;
  margin: 0.1rem;
}

.signup-page .logo-container {
  width: 60%;
  margin: 0.2rem auto 0.2rem;
}
