<div style="position: absolute;" class="d-flex justify-content-start gap-2 flex-column mx-3 my-3">
  <a class="bg-danger text-white text-center p-2" routerLink="/auth/reset-password">reset Password</a>
  <a class="bg-danger text-white text-center p-2" routerLink="/auth/change-password">Change Password</a>
  <a class="bg-danger text-white text-center p-2" routerLink="/auth/confirm-change-password">Confirm Change Password</a>
</div>


<div class="auth-wrapper" [ngClass]="{'signup-page': isSignupPage}">
  <div class="auth-box">
    <div class="logo-container">
      <img src="/assets/auth/logo.png" alt="Logo" class="logo" />
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
