<form [formGroup]="resetForm" (ngSubmit)="resetPass()">
  <div class="info">
    <h4>Reset password</h4>
  </div>

  <app-input
    [label]="'New Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="passwordControl"
    [errorMessages]="{
      required: 'New Password is required',
      minlength: 'Password must be at least 6 characters'
    }"
  ></app-input>

  <app-input
    [label]="'Confirm New Password'"
    [icon]="'assets/auth/lock.svg'"
    [type]="'password'"
    [placeholder]="'..........'"
    [control]="confirmPasswordControl"
    [errorMessages]="{
      required: 'Confirm New Password is required',
      minlength: 'Password must be at least 6 characters'
    }"
    [customError]="passwordsMismatch ? 'Passwords do not match' : ''"
  ></app-input>

  <app-button label="Next"></app-button>
</form>
