<div class="modal-overlay">
  <div class="modal-content">
    <h5 class="fw-bold">Add New Sport</h5>
    <p class="text-secondary">Enter the following information to Add New Sport</p>
    
    <input type="file" class="form-control mb-2" accept="image/*">

    <input type="text" placeholder="Phone *" class="form-control mb-2">


    <input type="text" placeholder="Sports" class="form-control mb-3">

    <button class=" w-100 mb-2">Add Trainer</button>
    <button class="text-black bg-white w-100" (click)="closeModal()">Cancel</button>
  </div>
</div>