/* .loginbody{
    background-image: url('../../../../assets/Shape.png');
} */
.login-p{
    font-size: 13px;
}
button{
    background-color: var(--primary);
}
.passwordlink , .account{
    color: var(--primary);
    font-weight: 500;
}